body {
  background-color: var(--white);
  height: 100vh;
  margin: 0;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --primary-dark: #0094c6;
  --primary-light: #d8d0c1;
  --secondary-dark: #005e7c;
  --secondary-light: #e0d3de;
}

* {
  box-sizing: border-box;
}
