body {
  background-color: var(--white);
  height: 100vh;
  margin: 0;
}

:root {
  --black: #000000;
  --white: #ffffff;

  --border-small: 4px;

  --padding-small: 6px;
  --padding-medium: 12px;

  --comment-margin: 12px;

  --background-one: #96a4c1;
  --background-two: #fff5e6;
  --primary-dark: #375597;
  --primary-two: #71139b;
  --secondary-one: #e6bf95;
}

* {
  box-sizing: border-box;
}
